@font-face {
  font-family: 'Museo300';
  src: url("../font/museo_300_macroman/Museo300-Regular-webfont.eot");
  src: url("../font/museo_300_macroman/Museo300-Regular-webfont.eot?iefix") format("embedded-opentype"), url("../font/museo_300_macroman/Museo300-Regular-webfont.woff") format("woff"), url("../font/museo_300_macroman/Museo300-Regular-webfont.ttf") format("truetype"), url("../font/museo_300_macroman/Museo300-Regular-webfont.svg#museo") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo500';
  src: url("../font/museo_500_macroman/Museo500-Regular-webfont.eot");
  src: url("../font/museo_500_macroman/Museo500-Regular-webfont.eot?iefix") format("embedded-opentype"), url("../font/museo_500_macroman/Museo500-Regular-webfont.woff") format("woff"), url("../font/museo_500_macroman/Museo500-Regular-webfont.ttf") format("truetype"), url("../font/museo_500_macroman/Museo500-Regular-webfont.svg#museo") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo700';
  src: url("../font/museo_700_macroman/Museo700-Regular-webfont.eot");
  src: url("../font/museo_700_macroman/Museo700-Regular-webfont.eot?iefix") format("embedded-opentype"), url("../font/museo_700_macroman/Museo700-Regular-webfont.woff") format("woff"), url("../font/museo_700_macroman/Museo700-Regular-webfont.ttf") format("truetype"), url("../font/museo_700_macroman/Museo700-Regular-webfont.svg#museo") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}

.locker {
  background-color: #444444;
  height: 100%;
}
.locker .locker-content {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -75px;
}
.locker .login {
  max-width: 460px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 899px) {
  .locker .login {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    transform: translate(0, 0) !important;
  }
}
@media (max-width: 768px) {
  .locker .login {
    max-width: 100%;
    padding: 0 68px;
  }
}
@media (max-width: 600px) {
  .locker .login {
    padding: 0 25px;
  }
}
.locker .login__title {
  font-family: 'Museo700';
  letter-spacing: -0.5px;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  padding-top: 50px;
  margin: 0;
}
@media (max-width: 600px) {
  .locker .login__title {
    font-size: 25px;
    line-height: 30px;
  }
}
.locker .login__description {
  font-family: 'Museo300';
  letter-spacing: -0.5px;
  color: #929292;
  font-size: 20px;
  line-height: 28px;
  margin: 20px 0;
}
@media (max-width: 600px) {
  .locker .login__description {
    font-size: 18px;
    line-height: 24px;
  }
}
.locker .login__description span {
  color: #cccccc;
  font-family: 'Museo700';
}
.locker .login form > div {
  text-align: center;
}
.locker .login form .form-item--label {
  font-size: 16px;
  font-family: 'Museo300';
  text-align: left;
  color: #929292;
  line-height: 22px;
  margin: 5px 0;
}
.locker .login form .form-item--label span {
  font-family: 'Museo700';
}
.locker .login form .form-item input {
  background-color: #3a3a3a;
  padding: 0 15px;
  border: none;
  box-shadow: none;
  height: 65px;
  display: block;
  margin-bottom: 20px;
  border-radius: 0;
  width: 100%;
  max-width: 430px;
  font-size: 20px;
  font-family: 'Museo700';
  color: #fff;
}
@media (max-width: 768px) {
  .locker .login form .form-item input {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}
.locker .login form .form-submit {
  font-size: 18px;
  padding: 16px 30px;
  border: none;
  border-radius: 0;
  background-color: #15b367;
  color: #ffffff;
  font-family: 'Museo700';
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  width: 170px;
  margin: auto;
}
.locker .login form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-transform: uppercase;
  color: #929292;
}
.locker .login form ::-moz-placeholder {
  /* Firefox 19+ */
  text-transform: uppercase;
  color: #929292;
}
.locker .login form :-ms-input-placeholder {
  /* IE 10+ */
  text-transform: uppercase;
  color: #929292;
}
.locker .login form :-moz-placeholder {
  /* Firefox 18- */
  text-transform: uppercase;
  color: #929292;
}

.locker-footer {
  background-color: #222222;
  height: 75px;
}
.locker-footer .footer__protected {
  color: #444444;
  font-size: 20px;
  font-family: 'Museo500';
  line-height: 25px;
  padding: 32px 10px 18px 0;
  float: right;
  display: inline-block;
}
@media (max-width: 768px) {
  .locker-footer .footer__protected {
    width: 52%;
    text-align: right;
    padding: 34px 0 16px;
    font-size: 16px;
  }
}
.locker-footer .footer__locker-logo {
  background-image: url("../css/Locker4x.png");
  background-position: 50% 50%;
  background-size: 72px;
  background-repeat: no-repeat;
  width: 80px;
  height: 75px;
  display: inline-block;
  float: right;
  margin-right: 70px;
}
@media (max-width: 768px) {
  .locker-footer .footer__locker-logo {
    float: right;
    margin-right: 0;
    width: 48%;
    background-position: 10px 50%;
  }
}

.locker {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: 0;
}
.locker .form-error {
  position: relative;
  background-color: #f15a29;
  padding: 40px;
}
.locker .error__message {
  font-family: 'Museo700';
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 29px;
}
.locker .error__message.reason {
  font-family: 'Museo500';
  font-size: 16px;
  line-height: 21px;
}
.locker .error__message.close {
  position: absolute;
  font-family: sans-serif;
  right: 50px;
  top: 50%;
  font-size: 25px;
  height: 30px;
  margin-top: -15px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .locker .error__message.close {
    right: 15px;
  }
}
