// Locker Footer

.locker-footer{
	background-color: #222222;
	height: 75px;
	.footer__protected{
		color: #444444;
	    font-size: 20px;
	    font-family: 'Museo500';
	    line-height: 25px;
	    padding: 32px 10px 18px 0;
	    float: right;
	    display: inline-block;
		@media (max-width: 768px){
	        width: 52%;
		    text-align: right;
			padding: 34px 0 16px;
			font-size: 16px;
		}
	}
	.footer__locker-logo{
	    background-image: url("../css/Locker4x.png");
	    background-position: 50% 50%;
	    background-size: 72px;
	    background-repeat: no-repeat;
	    width: 80px;
	    height: 75px;
	    display: inline-block;
	    float: right;
	    margin-right: 70px;
	    @media (max-width: 768px){
	    	float: right;
		    margin-right: 0;
		    width: 48%;
		    background-position: 10px 50%;
	    }
	}
}