// General Locker style
html, body {
	height: 100%;
}
.locker{
	background-color: #444444;
	height: 100%;
	.locker-content{
		min-height: 100%;
	  	/* equal to footer height */
		margin-bottom: -75px;
	}
	.login{
		max-width: 460px;
		margin: 0 auto;
		@media (min-width: 768px) and (max-width: 899px){
			position: relative !important;
			top: 0 !important;
			left: 0 !important;
			transform: translate(0, 0) !important;
		}
		@media (max-width: 768px){
		    max-width: 100%;
		    padding: 0 68px;
		}
		@media (max-width: 600px){
			padding: 0 25px;
		}
		&__title{
			font-family: 'Museo700';
			letter-spacing: -0.5px;
		    color: #fff;
		    font-size: 30px;
		    line-height: 36px;
		    padding-top: 50px;
			margin: 0;
			@media (max-width: 600px){
				font-size: 25px;
				line-height: 30px;
			}
	    }
	    &__description{
	    	font-family: 'Museo300';
			letter-spacing: -0.5px;
		    color: #929292;
		    font-size: 20px;
		    line-height: 28px;
		    margin: 20px 0;
			@media (max-width: 600px){
				font-size: 18px;
				line-height: 24px;
			}
		    span{
				color: #CCCCCC;
		    	font-family: 'Museo700';
		    }
	    }
	    form{
		    > div{
		    	text-align: center;
		    }
	    	.form-item{
				&--label{
					font-size: 16px;
					font-family: 'Museo300';
					text-align: left;
					color: #929292;
					line-height: 22px;
					margin: 5px 0;
					span{
						font-family: 'Museo700';
					}
				}
	    		input{
	    			background-color: #3A3A3A;
				    padding: 0 15px;
				    border: none;
				    box-shadow: none;
				    height: 65px;
				    display: block;
				    margin-bottom: 20px;
				    border-radius: 0;
				    width: 100%;
				    max-width: 430px;
				    font-size: 20px;
				    font-family: 'Museo700';
				    color: #fff;
				    @media (max-width: 768px){
						width: calc(100% - 30px);
						max-width: 100%;
				    }
	    		}
	    	}
	    	.form-submit{
				font-size: 18px;
				padding: 16px 30px;
				border: none;
				border-radius: 0;
				background-color: #15B367;
				color: #ffffff;
				font-family: 'Museo700';
				text-transform: uppercase;
				cursor: pointer;
				display: block;
				width: 170px;
				margin: auto;
	    	}
	    	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			      text-transform: uppercase;
			      color: #929292;
			}
			::-moz-placeholder { /* Firefox 19+ */
			      text-transform: uppercase;
			      color: #929292;
			}
			:-ms-input-placeholder { /* IE 10+ */
			      text-transform: uppercase;
			      color: #929292;
			}
			:-moz-placeholder { /* Firefox 18- */
			      text-transform: uppercase;
			      color: #929292;
			}
	    }
	}
}