// Locker messages

.locker{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    margin: 0;
	.form-error{
		position: relative;
		background-color: #F15A29;
		padding: 40px;
	}
	.error__message{
		font-family: 'Museo700';
		text-align: center;
	    color: #fff;
	    font-size: 24px;
	    line-height: 29px;
		&.reason{
			font-family: 'Museo500';
		    font-size: 16px;
	        line-height: 21px;
		}
		&.close{
		    position: absolute;
		    font-family: sans-serif;
		    right: 50px;
		    top: 50%;
		    font-size: 25px;
		    height: 30px;
		    margin-top: -15px;
		    text-decoration: none;
		    @media (max-width: 768px){
		    	right: 15px;
		    }
		}
	}
}