@font-face{    
	font-family: 'Museo300';   
	src: 	url('../font/museo_300_macroman/Museo300-Regular-webfont.eot');   
	src: 	url('../font/museo_300_macroman/Museo300-Regular-webfont.eot?iefix') format('embedded-opentype'),        
			url('../font/museo_300_macroman/Museo300-Regular-webfont.woff') format('woff'),        
			url('../font/museo_300_macroman/Museo300-Regular-webfont.ttf') format('truetype'),        
			url('../font/museo_300_macroman/Museo300-Regular-webfont.svg#museo') format('svg'); 
	font-weight: normal;
  	font-style: normal;
}

@font-face{    
	font-family: 'Museo500';   
	src: 	url('../font/museo_500_macroman/Museo500-Regular-webfont.eot');   
	src: 	url('../font/museo_500_macroman/Museo500-Regular-webfont.eot?iefix') format('embedded-opentype'),        
			url('../font/museo_500_macroman/Museo500-Regular-webfont.woff') format('woff'),        
			url('../font/museo_500_macroman/Museo500-Regular-webfont.ttf') format('truetype'),        
			url('../font/museo_500_macroman/Museo500-Regular-webfont.svg#museo') format('svg'); 
	font-weight: normal;
  	font-style: normal;
} 

@font-face{    
	font-family: 'Museo700';   
	src: 	url('../font/museo_700_macroman/Museo700-Regular-webfont.eot');   
	src: 	url('../font/museo_700_macroman/Museo700-Regular-webfont.eot?iefix') format('embedded-opentype'),        
			url('../font/museo_700_macroman/Museo700-Regular-webfont.woff') format('woff'),        
			url('../font/museo_700_macroman/Museo700-Regular-webfont.ttf') format('truetype'),        
			url('../font/museo_700_macroman/Museo700-Regular-webfont.svg#museo') format('svg'); 
	font-weight: normal;
  	font-style: normal;
} 